li{
    text-decoration: none;
}


.APP-OUTER {
    display: table;
    position: absolute;
    top: -5%;
    left: 0;
    height: 100%;
    width: 100%;
}

.APP-MIDDLE {
    display: table-cell;
    vertical-align: middle;
}

.APP-COTNER {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    /* Whatever width you want */
}


.APP-Header{
    text-align: left;
   
}





.APP-Time *{

    margin: 0 auto;
    display: block; 
    padding-top: 0;

}


/*Home Page*/


.Home-Login{
    /* margin: 0 auto; */
    /* display: block;  */
   
    margin-top: 2em;
    width: 50%; 

}

/*Admin Login Page */

.Admin-Login{
    
}


/*Admin-DSBD */

.DSBD-COTNER{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);

    height: 100vh;
    flex-direction: column; /* Stack children vertically */
    

    
   


}

.DSBD-MenuIcon{

    position: fixed;
    left: 0;
    top: 50%;
    z-index: 1000; /* Higher index to stay on top */
    transform: rotate(90deg);

}

.DSBD-SScreenIcon{

    position: fixed;
    left: 97.5%;
    top: 50%;
    z-index: 1000; /* Higher index to stay on top */
    transform: rotate(90deg);

}


.DSBD-Sidebar{
    background-color:#E4B4B7;
    height: 100%;
    grid-row: 1/9;

   
    /* height: 200%; */
}




.DSBD-Sidebar-Context{

    display: none;


}

.DSBD-Sidebar-Context ul{

    list-style-type: none;
  
   
    
   

}

.DSBD-Sidebar-Context ul li{

    margin-bottom: 2em;
    

}

.DSBD-Sidebar-Context *{

    text-decoration: none;
    color: black;
   

}

.DSBD-Sidebar-Control{
    background-color: blue;
  
}

.DSBD-Sidebar-Info{

    border: 2px solid red;
    display: block;
    justify-content: center; 
    align-items: center; 
    grid-row:    1 / 2;
    grid-column: 1 / 2;
    display: none;
    

}

.DSBD-Sidebar-Utility{

    background-color: rgb(230, 205, 44);
    grid-row:    2 / 5;
    grid-column: 1 / 2;
    width: 200%;
    overflow: hidden;
    border: 2px solid rgb(34, 61, 14);
    display: none;
    
    


}

.DSBD-Main{

    background-color: rgb(179, 179, 179);


    /* Dsbd outer layout */
    grid-row:    1 / 5;
    grid-column: 1 / 9;

   /* overflow: auto;  Make content scrollable */


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
  

   
    overflow: hidden;
    transition:2s;
    
    
  
  

}

.DSBD-Main__open{

    background-color: rgb(0, 67, 20);


    /* Dsbd outer layout */
    grid-row:    1 / 5;
    grid-column: 2 / 9;

   /* overflow: auto;  Make content scrollable */


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;

   
    overflow: hidden;

    /* transition:2s; */
    
    
  
  

}

.DSBD-Main-TopBar{

    /* position: absolute; */
    
    
    
}

.Daily-TopBar{
    /* background-color: rgb(90, 90, 86); */
    display: grid; 
    grid-template-columns: repeat(1fr,8);
    grid-template-rows: repeat(1fr,8);

    
}

.Daily-TopBar-WeekSel{

    grid-column: 1/3;
    grid-row: 1/9;
    /* background-color: darksalmon; */


 
    

}

.DSBD-Main-Context{
    /* margin-top: 14em; */
}

.WeekSel{

    display: grid;
    /* grid-auto-flow: row; */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1em;
 
    padding: 1em 1em 1em 1em;
    

}

.Daily-TopBar-Side{

    grid-column: 4/9;
    grid-row: 1/9;

    /* background-color: darkgreen; */
    padding:3em 1em 1em 1em;
    /* background-color: cyan; */
    
}

/* .WeekSel button{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.Daily-TopBar-Side-Utility{

   display: flex;
   justify-content: space-around;
    

}

.Daily-TopBar-Side-Digest{

    /* grid-column: 4/9;
    grid-row: 1/9; */
    /* background-color: darkgreen; */
    
    display: grid;
    align-items: center;
    justify-content: center;
    
    
}

.Daily-TopBar-Side-Digest ul{
    list-style: none;
}

.DSBD-Main-Left{

   


    background-color: rgb(235, 230, 225);
    border-radius: .3em;
    /* border: 2px rebeccapurple solid; */
    overflow: scroll;
    overflow-y: visible;
    grid-column: 1 / 2; /*  Div shrinking without redefining the layout */
    
    
    padding-left: 2em;
    padding-right:2em;
    padding-top: 1em;
  
    

    
}

.DSBD-Main-Right{
    background-color: rgb(158, 158, 157);
    overflow: scroll;
    grid-column: 2 / 3; /*  Div shrinking without redefining the layout */

    padding-left: 2em;
    padding-right:2em;
    padding-top: 1em;
    
    /* display: none; */
}


/* .DSBD-Main-DSP{
    margin-top: 2em;
} */

.DSBD-Main-SingleDSP-Digest{
    background-color: bisque;
}










.Home-Container{
    margin: 0 auto;
    display: block; 
    width: 30%; 
  

}

.DSPLogin-Container{

    margin: 0 auto;
    display: block; /* This is the default for block elements */
    width: 30%; /* Or any specific width */

}



/*Login Form*/


.form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;

    margin: 0 auto;
    display: block; /* This is the default for block elements */
   
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }




/*******/

.DSP-COTNER{
    /* background-color: aquamarine; */
}


.DSP-Digest-Context-DLR-BN p{

    margin-right: 1em;

}



.form__custom-button {
    background-color: #3f51b5; /* Normal background color */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .form__custom-button:hover {
    background-color: #303f9f; /* Color when hovered */
  }


/* .Home-Login > div{
    margin: 10px
} */


/* .Home-Login{
    margin: 0 auto;
    display: block; 
    width: 30%; 

} */